scikit-learn==1.6.1
xgboost==3.4.1
catboost==1.2.10
imbalanced-learn==0.14.2
numpy==2.1.3
pandas==2.2.3
scipy==1.16.3
torch==2.11.0
tabpfn-client==0.6.0
shap==0.52.0
lime==0.2.0.1
dice-ml
Boruta==0.4.3
scikit-optimize==0.10.2
pytorch-tabnet==4.1.0
tab-transformer-pytorch==0.6.1
rtdl_revisiting_models==0.0.2
matplotlib==3.10.0
